<html>
  <head>
    <title>Login | Dovecot</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <header>
      {% if (message is undefined) %}
      {% elseif message.key == "login_failed" %}
      <div><span class="error">Login failed with the given credentials</span></div>
      {% elseif message.key == "token_sent" %}
      <div><span class="info">Sent password reset e-mail to {{message.user}}.</span></div>
      {% else %}
      <div><span class="error">Weird message {{message.key}}</span></div>
      {% endif %}
    </header>
    <main>
    <form action="{{url}}/dovewebapp" method="post" id="loginform">
      <label for="user">User name:</label><br/>
      <input id="user"
             name="user"
             type="text"
             required
             pattern="[-a-zA-Z0-9!#$%&'*+/=?^_`{|}~.]+"/>
      <br/>
      <label for="pass">Password:</label><br/>
      <input id="pass" name="pass" type="password"/><br>
      <button name="operation" value="login" type="submit">Log in</button>
      <button name="operation" value="forgot" type="submit">Forgot password</button>
    </form>
    </main>
  </body>
</html>
